{%extends "base.html"%}

{%block content%}
    <div class="container col-12 col-md-8 col-lg-6 col-xl-4">
        <form method="post" class="col-12 d-flex flex-column justify-content-center form-group text-white">
            {% csrf_token %}
            <!-- <input type="email" name="email" id="">
            <input type="password" name="password" id="">
             -->
             {{par1}}
             {{form.email.label}}
             {{form.email}}

             {{form.password.label}}
             {{form.password}}

            {%for field in form%}
                {%for error in field.errors%}
                <p class="aalert-danger mt-3 d-flex justify-content-center">{{error}}</p>
                {%endfor%}
            {%endfor%}
            
            {%for error in form.non_field_errors%}
                <p class="alert-danger mt-3 d-flex justify-content-center">{{error}}</p>
            {%endfor%}

            <button class="btn btn-success col-3 m-auto mt-3" type="submit">Login</button>
        </form>
        {%for message in messages%}
            <p class="text text-white">{{message}}</p>
        {%endfor%}
    </div>
{%endblock%}

