{%extends 'base.html'%}
{% load filter %}
{% load update_variable %}
{%block content%}

<div class="container mainContainer d-flex">
    <div id="mainContainer" class="container mainContainer">
        {% include 'posts.html' %}

    </div>
    <div class="container-padding activeUserContainer">
        <div class="list-header justify-content-center">
            {% if activePeople|length > 0 %}
                <p class="text">Active contacts:</p>
            {% endif %}
            
        </div>
        <div class="listOfActiveFriends">
           {% for activePerson in activePeople %}
                {% if activePerson.is_loggedIn %}
                <div class="activePersonBlock">
                    <p class="activePersonName" id="{{activePerson.id}}">{{activePerson.name}} {{activePerson.surname}}</p>
                    <!-- <a class="activePersonName" id="{{activePerson.id}}" href=""></a> -->
                </div>
                {% endif %}
           {% endfor %}
        </div>
        
    </div>
</div>
{%endblock%}