{% load filter %}
{% block postsContent %}
<div class="posts col-12 mt-3">
    {%for post in posts%}
        <div class="card col-12 px-2 py-2 mb-2" id="post{{post.id}}">
            <!--Post Head-->
            <div class="head d-flex col-12">
                <div class="row firstHeaderRow col-12">
                    <a class="col d-flex text-decoration-none text-dark" href="{% url 'profile' pk=user.id%}">
                        <div class="profileImg col">
                            <img class="profileImgOnPost" src="/static/images/{{post.author.profileImg}}" alt="">
                        </div>
                        <div class="authorNameArea col-10">
                            <h5 class="h5">{{post.author.name}} {{post.author.surname}}</h5>
                        </div>
                    </a>

                    <div class="addaTimeArea col-7 d-flex justify-content-end">
                        <h5 class="h5">{{post.time|timesince|upto:","}}
                            ago</h5>
                    </div>
                    <!--Sec Row-->
                    <div class="row titleRow col-12 d-flex justify-content-center">
                        <h2 class="h2 col-6 d-flex justify-content-center">{{post.title}}</h2>
                    </div>
                </div>  
            </div>
            <hr>
            <!--Post Body-->
            <div class="body">
                <p class="text">{{post.body}}</p>

                <hr>
                <div class="bodyFooter col-12">
                    <div class="likeSect col-12 d-flex justify-content-end">
                                                    
                            <input type="hidden" name="form_type" value="likeType">
                            <p id="likes{{post.id}}" class="text likes m-0 d-flex justify-content-center align-items-center">Likes: {{post.postlikee_set.count}}</p>  
                            <input id="likeBtn{{post.id}}" type="submit" value="{% if post.liked %}Unlike{% else %}Like{% endif %}" class="btn btn-success likeBtn">
                            
                            <script>
                               
                                
                              
                                    $("#likeBtn{{post.id}}").click(function (e) {
                                    
                                    e.preventDefault();
                             
                                    
                                    console.log(e.target.value)
                                    var serializedData=e.target.value
                                    // GET AJAX request
                                    $.ajax({
                                        
                                        type: 'POST',
                                        url: "{% url 'likeRid' postId=post.id %}",
                                        dataType:"json",
                                        data: {"liked": serializedData,'csrfmiddlewaretoken': '{{ csrf_token }}'},
                                        success: function (response) {         
                                            console.log(response['instance'])                     
                                            e.target.value=response['instance']
                                            document.getElementById("likes{{post.id}}").innerText="Likes: "+response['likes']
                                        },
                                        error: function (response) {
                                            console.log(response)
                                        }
                                    })
                                })
                        
                                
                            </script>
                    </div>
                    <div class="commentInput col-12 mt-3">
                            
                            <form action="{% url 'comRid' postId=post.id %}" method="post" class="form-group d-flex">
                                {%csrf_token%}
                                <input type="hidden" name="form_type" value="commentType" class="form-control">
                                {{commentForm.as_table}}
                                <button type="submit" class="btn btn-primary">Add</button>
                            </form>

                    </div>

                    <div class="commentSect col-12">
                        <button type="click" class="btn btn-primary text commentsTag">Show Comments: {{post.postcomentee_set.count}}</button>
                      
                            <div class="comments ">
                            {% with nr=0 %}
                            {% for postcomentee in post.postcomentee_set.all %}
                                <hr>
                                <div class="singleComment mb-3 col-12" id="comment{{postcomentee.comment.id}}">
                                    <div class="header row d-flex col-12">
                                        <div class="author col-6 d-flex justify-content-start"><b>{{postcomentee.comment.author}}</b></div>
                                        <div class="commentText col-6 d-flex justify-content-end"><b>{{postcomentee.comment.time|timesince|upto:","}} ago</b></div>
                                    </div>
                                    <div class="body row">
                                        <div class="commentText">{{postcomentee.comment}}</div>
                                    </div>
                                    
                                    
                                </div>

                            {% endfor %}
                            {% endwith %}
                            </div>                               
                   
                    </div>


                </div>
            </div>
        </div>
    {% empty %}
        <h3 class="h3 mt-5">Add your first post or add new friends to see their staff.</h3>
    {%endfor%}

</div>
{%endblock%}