body{
    background-color: #c9c0c0;
}
.mainContainer{
    width:100%;
    height:800px;
    position: relative;
}
.activeUserContainer{
    width: 300px;
}
.comments{
    display: none;
    visibility:hidden;
}

.singleConvBody{
    width:270px;
    height:300px;
    background-color: #fff;
    border: 1px solid #5f1212; 
   
}

.singleConvBody .sendMsgBtn{
    font-size: 12px;
}
.singleConvBody .conHeader{
    height:46px;
}
.singleConvBody .convBody{
    height:220px;
}
.singleConvBody .convFooter{
    height:30px;
}
.singleConvBody .convBody{
    overflow: scroll;

}
.singleMsg{
    word-break: break-all;
    word-wrap: normal;
}
.smallPostProfileImg{
    text-decoration: none;
    color: #000;
}
.smallPostProfileImg .notificationsNumber{
    padding: 0;
    margin: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    font-weight: bolder;
    text-decoration: none;
}
.profileImgOnPost, .profileImgOnSearchView, .profileImg{
    width:10vh;
    height: 5pvh;
    border-radius: 50%;
}
.commentsTag:hover{
    cursor: pointer;
}
.activePersonName:hover{
    cursor: pointer;
}